body {
    margin: 10px;
    ;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    background: #00131c;
    box-shadow: 20px 20px 60px #001018,
        -20px -20px 60px #001620;
    border-radius: 50px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    padding: 100px 20vw;
}

/*Home page*/

.intro_div {
    text-align: left;
    margin-left: 15vw;
    margin-right: 15vw;
}

.intro_text {
    max-width: 50%;
}

.logos {
    width: 50%;
    float: right;
    position: relative;
    margin-top: -30vw;
}

.spacer {
    aspect-ratio: 960/450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.column {
    text-align: center;
    width: 0%;
    margin-top: 2vw;
    padding: 5px;
    margin-left: 15vw;
}

.column:hover {
    opacity: 0.8;
    scale: 0.8;
}
#scale{
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.button {
    border-radius: 92px;
    background: #d5effb;
    box-shadow: inset -43px 43px 86px #99acb5,
        inset 43px -43px 86px #ffffff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
    scale: 0.8;
}

.button4 {
    background-color: #e7e7e7;
    color: black;
    margin-top: 2vw
}


/* map elements */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 50px;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.mapboxgl-popup-content {
    background-color: #00131c !important;
    color: white !important;
}

#map {
    margin-top: 150px;
}

.legend {
    background-color: #fff;
    border-radius: 3px;
    top: 150px;
    height: fit-content;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    left: 10px;
    color: #00131c;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.layer1 {
    background-image: url('../../wave-haikei.svg');
}

/*tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    float: right;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #00131c;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    height: fit-content;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.twitter-share-button {
    float: right !important;
    margin-top: 50px !important;
}

/* Laptop config */

@media only screen and (max-width: 1100px) {
    
.logos {
    margin-top: -50vw;
}

}
/*MOBILE RESPONSIVE*/
@media only screen and (max-width: 600px) {
    .intro_text {
        max-width: 100%;
    }
    .geocoder{
        top:unset;
        bottom: 100px;
    }

    .logos {
        width: 50%;
        float: right;
        position: relative;
        margin-top: -3vw;
    }
}